/* ===== Services Design Start ===== */
.services {
  padding-bottom: 80px;
}
.services_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* ===== Services Design End ===== */
