/* ==== Feedbacks Design Start ==== */
.feedbacks {
  padding-bottom: 84px;
}
.feedbacks_heading h3 {
  color: #071c1f;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  line-height: 140%;
  font-family: "Open Sans", sans-serif;
}
.feedback_list {
  padding-top: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 82px;
}
/* ==== Feedbacks Design End ==== */
